body, .reveal {
  background-color: #000;
}

.pop {
  color: rgb(177, 20, 20);
}

.pop-black {
  color: #efefef;
  text-shadow: #000 2px 2px;
}

.reveal .slides > section {
  padding-top: 0;
}

.reveal .slides > section img {
  margin: 0;
  max-width: 140%;
}

div.slides {
  width: 100%;
}